.invalid{
  color:red;
  font-size:12px;
}

.succed-add{
  position: fixed;
  background-color: #51a351;
  top: 90%;
  left: 40%;
  height: 40px;
  width:22%;
  border-radius: 5px;
  box-shadow: 6px -4px 33px -2px rgba(242,228,242,1),
  -6px 4px 33px -2px rgba(242,228,242,1);
}
