.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.article {
  margin-right: auto;
  margin-left: auto;
  width:50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
